# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Bullisiosa\Disco_E\Otro Escritorio_Diplomado_Incos\DIPLOMADO TESTING\modulo4\trabajos\movileEjercicio1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
